Repository Kareadita/Kavita, pull requests merged in 2022-09, with the labels that each got.

#1504 Configure Animation Module
  UI/Web/src/app/app.module.ts
Labels: bug, UI

#1531 Parser optimization part1
  API.Benchmark/API.Benchmark.csproj
  API.Benchmark/CleanTitleBenchmark.cs
  API.Benchmark/Data/Comics.txt
  API.Benchmark/Program.cs
  API.Tests/Parser/ComicParserTests.cs
  API.Tests/Parser/MangaParserTests.cs
  API.Tests/Parser/ParserTest.cs
  API/Services/Tasks/Scanner/Parser/DefaultParser.cs
  API/Services/Tasks/Scanner/Parser/Parser.cs
Labels: enhancement, Parser

#1556 Extended Korean Filename Parsing Support
  API.Tests/Parser/MangaParserTests.cs
  API/Services/Tasks/Scanner/Parser/Parser.cs
Labels: Parser
